*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f7f7f7;
}
.cart-header{
    width: 75%;
    margin: auto;
    background-color: #fff;
    color: #b0b0b0;;
    padding: 0.5vw 0 0.5vw 0;
    /* box-shadow: 0 0.3125vw 0.72917vw 0 #00000014;  */
    display: flex;
    align-items: center;
    margin-top: 1.2vw;
    height: 5vw;
}
.cart-header ul{
    display: flex;
    list-style: none;
    width: 100%;
}
.cart-header ul li{
    width: 20%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    font-weight: 500;
}
.cart-header ul li:nth-child(6){
    width: 10%;
}
/* .cart-header ul li:nth-child(1),
.cart-header ul li:nth-child(3),
.cart-header ul li:nth-child(4),
.cart-header ul li:nth-child(5){
    width: 10vw;
    border: 1px solid red;
} */
.product-cart{
    width: 75%;
    margin: auto;
    color: black;
}
.product-cart ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #b0b0b0;;
    padding: 0.5vw 0 0.5vw 0;
    /* box-shadow: 0 0.3125vw 0.72917vw 0 #00000014;  */
    margin-top: 1.2vw;

}
.product-cart ul li img{
    width: 10vw;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0.5vw 1.4125vw 1.72917vw 0.5vw #00000014; 
    height: 100%;
}
.product-cart ul li{
    /* margin-right:5.5vw; */
    /* margin-left:2.5vw ; */
    width: 20%;
    height: 100%;
    /* border: 1px solid rebeccapurple;  */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 1.5vw;
}

.product-cart ul li input{
    width: 2.3vw;
    font-size: 1.2vw;
}
.product-cart ul li input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button {  
   opacity: 1;

}
.product-cart ul li:nth-child(5){
    color: #fa4619;
    font-weight: 600;
}
.product-cart ul li:nth-child(6){
    font-size: 1.24vw;
    width: 10%;
}
.product-cart ul li h5{
    font-size: 1.3vw;
    font-weight: 400;
}
.p-box{
    width:4vw;
    height:3vw;
    background-color: #ff6700;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}
.two , .three{
    width: 4vw;
    height: 3vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #b0b0b0;
}
.process-bar{
    width: 100%;
    height: 15vw;
    background-color: #fff;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.process-bar ul{
    display: flex;
}
.process-bar ul li{
    display: flex;
    align-items: center;
    margin-left: 1vw;
    font-size: 1.2vw;
    font-weight: 500;
}

.line{
    width: 15vw;
    height: 0.05vw;
    background-color: #b0b0b0;
}
.check-out{
    height: 5vw;
    width: 100%;
    background-color: #fff;
    margin-top: 2vw;
    padding: 0 5vw 0 15vw;
    /* position: sticky;
    top: -15vw; */
}
.check-out ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    height: 100%;
}
.check-out ul li{
    height: 100%;
    display: flex;
    /* background-color: #ff6700; */
    display: flex;
    align-items: center;
    font-size: 1.8vw;

}
.check-btn{
    height: 100%;
    background-color: #ff6700;
    padding:0 3vw 0 3vw;
    font-size: 2vw;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width:650px) {
           .process-bar{
        height: 30vw;
        font-size: vw;
           }
           .process-bar ul{
               display: flex;
           }
           .process-bar ul li{
               font-size: 3vw;
           }
           .p-box{
               width:10vw;
               height:6vw;
               border: 1px solid #ff6700;
               border-radius: 10px;
               
           }
           .two , .three{
               width: 10vw;
               height: 6vw;
               border: 1px solid #b0b0b0;
           }
           
           .line{
               width: 10vw;
               height: 0.05vw;
               background-color: #b0b0b0;
           }
           .done{
               background-color: #ff6700;
               border: none;
           }
    .cart-header{
        margin: 0;
        width: 100%;
        margin-top: 2vw;
        height: 20vw;
    }
    .cart-header ul li{
        font-size: 3vw;
    }
.product-cart{
    width: 100%;
    margin: 0;
}
.product-cart ul li input{
    width: 3.5vw;
    font-size: 3vw;
    outline: none;
    border: 0.25px solid #000;
    text-align: center;
}
.product-cart ul li img{
    width: 10vw;
    height: 12vw;
}
.product-cart ul li{
    /* margin-right:5.5vw; */
    /* margin-left:2.5vw ; */
    width: 20%;
    height: 15vw;
    /* border: 1px solid rebeccapurple;  */
    display: flex;
    justify-content: flex-end;

    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 1.5vw;
}

.product-cart ul li input{
    width: 2.3vw;
    font-size: 1.2vw;
}
.product-cart ul li input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button {  
   opacity: 1;

}
.product-cart ul li:nth-child(5){
    color: #fa4619;
    font-weight: 600;
}
.product-cart ul li:nth-child(6){
    font-size: 1.24vw;
    width: 10%;
}
.product-cart ul li h5{
    font-size: 1.3vw;
    font-weight: 400;
}
}